/* For tablets */

@media only screen and (min-width: 768px) and (max-width: 959px) {
/* Quality */
  .qualidade:after {
    right: 0px;
  }

  .qualidade_lista li {
    padding: 0 10px;
  }

/* Footer */
  .footer_redes ul li a {
    display: block;
    padding: 10px 0;
  }

  .footer_redes ul li a img {
    width: 30px;
    height: 30px;
  }

/* Products */
  .produto_item h2 {
    top: -150px;
    margin-bottom: -56px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
  }

  .produto_info ul li {
    width: 181px;
  }
}




/* For smartphones */

@media only screen and (max-width: 767px) {

/* Header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0px auto 20px auto;
    width: 120px;
  }

  .header_menu {
    text-align: center;
    position: absolute;
    top: 10px;
    width: auto;
  }

/* Home - Introduction */
  .introducao {
    margin-top: 0px;
    padding-top: 40px;
    background: url("../img/bg-mobile.png") no-repeat center;
    background-size: cover;
  }

  .introducao h1 {
    font-size: 36px;
  }

/* Home - Inside Introduction */
  .introducao_interna {
    margin-top: 0px;

  }

/* Home - Products */
  .call {
    padding-top: 10px;
  }

/* Home - Quality */
  .qualidade img {
    box-sizing: border-box;
    background: url("../img/somuglove_quality.png") no-repeat;
    width: 100px;
    height: 100px;
    padding-left: 100px;
  }
  
  .qualidade:after {
    display: none;
  }

/* About us */
  .missao_sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }

  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

/* Products */
  .produto_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
  }

  .produto_info ul li {
    width: 149px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0px;
  }

  .orcamento_dados ul {
    padding-right: 0px;
  }

/* Portfolio */
.quote_clientes {
  padding: 40px 0;
}

/* Contact */
  .contato_form {
    padding-right: 0px;
  }

}
