/* For tablets */

@media only screen and (min-width: 768px) and (max-width: 959px) {
/* Quality */
  .qualidade:after {
    right: 0px;
  }

  .qualidade_lista li {
    padding: 0 10px;
  }

/* Footer */
  .footer_redes ul li a {
    padding: 0;
  }

  .footer_redes ul li a img {
    width: 30px;
    height: 30px;
  }

/* Products */
  .produto_item h2 {
    top: -150px;
    margin-bottom: -56px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: 122px;
    padding: 20px 30px;
  }

  .produto_info ul li {
    display: none;
  }
}



/* For smartphones */

@media only screen and (max-width: 767px) {
/* Header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }

  .header_menu ul li a {
    border: 4px solid #000;
    width: 135px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .header_menu ul li a.menu_ativo {
    border-color: #fff;
  }

/* Introduction */
  .introducao {
    margin-top: 0px;
    padding-top: 40px;
    background: url("../img/bg_mobile.jpg") no-repeat center;
    background-size: cover;
  }

  .introducao h1 {
    font-size: 36px;
  }

/* Inside Introduction */
  .introducao_interna {
    margin-top: 0px;

  }

/* Products */
  .call {
    padding-top: 10px;
  }

/* Quality */
  .qualidade:after {
    display: none;
  }

/* About Us */
  .missao_sobre p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0px;
  }

  .missao_sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

/* Products */
  .produto_item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto_info p {
    font-size: 14px;
    line-height: 20px;
    height: auto;
    padding: 20px 30px;
  }

  .produto_info ul li {
    width: 149px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0px;
  }

  .orcamento_dados ul {
    padding-right: 0px;
  }

/* Contact */
  .contato_form {
    padding-right: 0px;
  }

}
