.interna_sobre {
  background: url("../img/about-us/aboutus-main-img.png") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 60px;
}

.missao_sobre h2 {
  color: #43322a;
}

.missao_sobre h2:after {
  background: #43322a;
}

.missao_sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao_sobre ul li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 30px;
}

.foto_equipe {
  padding-top: 20px;
}
