/* General Styles */
@import url("grid.css");
@import url("normalize.css");
@import url("reset.css");

@import url("sobre.css");
@import url("produtos.css");
@import url("portfolio.css");
@import url("contato.css");

@import url("https://fonts.googleapis.com/css?family=Muli|Radley|Satisfy");


body {
  font-family: "Muli","Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Radley", serif;
  font-size: 16px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

.btn {
  border: 3px solid #ecb7a7;
  padding: 10px 30px;
  color: #ecb7a7; /* light rose color */
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  transition: all .5s ease;
}

.btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn.btn_preto:hover {
  color: #43322a;
  border-color: #43322a; /* brown color */
}

.subtitulo {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .1em;
  color: #43322a;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #43322a;
  margin: 8px auto;
}

.subtitulo_interno {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .1em;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.subtitulo_interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 8px 0;
}



/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ecb7a7;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  padding: 10px 0;
  transition: all .3s ease;
}

.header_menu ul li a:hover {
  color: #43322a;
}

.header_menu ul li a.menu_ativo {
  color: #43322a;
}



/* Introduction */
.introducao {
  width: 100%;
  height: 380px;
  background: url("../img/home/main-img.png") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  color: #ffffff;
  font-family: "Satisfy",cursive;
}

.quote_externo {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #ffffff;
}

.quote_externo p:before, .quote_externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background:  #ffffff;
  margin: 12px auto 10px auto;
}

.quote_externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
}


/* Inside Introduction */
.introducao_interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.introducao_interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao_interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 6px auto 10px auto;
}


/* Products */
.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #ecb7a7;
  text-align: center;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  color: #ffffff;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 4px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
  color: #ffffff;
}


.call {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}



/* Portfolio */
.portfolio {
  width: 100%;
  background: #af585e; /*dark rose color */
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #ffffff;
}

.portfolio .subtitulo:after {
  background: #ffffff;
}

.portfolio_lista div:last-of-type {
  margin-top: 20px;
}

.portfolio .call p {
  color: #ffffff;
}



/* Quality */
.qualidade {
  padding: 60px 0;
}

.qualidade img {
  margin: 0 auto;
  width: 650px;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* clear fix */
}

.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #43322a;
  margin: 6px auto;
}

.qualidade_lista li p {
  color: #43322a;
}


/* Break */
.break {
  width: 100%;
  height: 220px;
  background: url("../img/home/final-img.png") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.break .quote_externo {
  max-width: 400px;
  color: #43322a;
}

.break .quote_externo p:before, .break .quote_externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background:  #43322a;
  margin: 12px auto 10px auto;
}


/* Footer */
.footer {
  width: 100%;
  background: #af585e;
  color: #ffffff;
  padding: 50px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #ecb7a7;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ecb7a7;
  margin: 6px 0 12px 0px;
}

.footer_historia {
  padding-right: 40px;
  color: #ecb7a7;
}

.footer_historia h3 {
  font-family: "Muli","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer_contato ul li {
  font-size: 16px;
  line-height: 24px;
  font-family: "Radley", serif;
  color: #ecb7a7;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer_redes ul li a {
  display: block;
  transition: all .5s ease;
}

.footer_redes ul li a:hover {
  color: #ffffff;
}

.copyright {
  width: 100%;
  background: #ecb7a7;
  color: #ffffff;
  padding: 20px 0;
}

/* Animations */
.js .introducao h1, .js .introducao blockquote, .js .introducao .btn, .js .animar, .js .animar_interno, .js .introducao_interna h1, .js .introducao_interna p {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FFFFFF;
  position: fixed;
  z-index: 2000;
/* top: 0; */
  right: 100%;
  width: 100%;
  height: 5px;
}
